.masthead {
	width: 80%;
	margin: auto;
	padding-left: 60px;
	padding-bottom: 20px;
	padding-top: 10px;

}

#head {
	visibility: visible;
}

#mobile {
	visibility: hidden;
}


.main_wrapper {
	width: 80%;
	margin: auto;
	margin-top: 10px;
	padding: 20px;
	font-size: 1.2em;
}

ul {
	list-style: none;
	padding-left: 0;
}

.image{
	cursor: pointer;
	padding-top: 20px;
}
.image:hover {
	opacity: 0.8;
}

.imageS{
	cursor: pointer;
	height: 46px;
	width: 61px;
	padding: 5px;
}
.imageS:hover {
	outline: 3px black solid;
	outline-offset: -6px;
}

.imageSv{
	cursor: pointer;
	height: 61px;
	width: 46px;
	padding: 5px;
}
.imageSv:hover {
	outline: 3px black solid;
	outline-offset: -6px;
}




@media only screen and (max-width: 374px) {
   	.masthead {
		width: 100%;
		padding: 10px 0px 10px 0px;
	}
	h1 {
		text-align: center;
	}
	.imageS {
		margin-left: 20px;;
	}
	}
	#mobile {
		visibility: visible;
	}
	#head {
		visibility: hidden;
	}
	
}





